article {
    display: flex;
    justify-content: center;
    h1 {
        font-size: 40px;
    }
}

main {
    div {
    padding: 0 20px 0 20px;;
    section {
        width: 50%;
        height: 15vh; 
        p {
            font-size: 20px;
        }
    }
    section:nth-child(2) {
        margin-left: 50%;
    }
    section:nth-child(3) {
        margin-left: 25%;
        h3 {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
            font-style: italic;
            text-decoration: underline;
        }
    }
}
}
@media screen and (max-width: 1000px) {
    section {
        section {
            height: auto;
        }
    }
}